%article.topic
  %header loading...

  %section.controls
    .upvote
      .indicator.hidden
        %img{src: '/images/indicator.gif'}
      %a &uarr;

    %section.meter
      %canvas.topic_meter

    .downvote
      .indicator.hidden
        %img{src: '/images/indicator.gif'}
      %a &darr;