body {
  background: #fafafa; }

#app {
  width: 82.91457%;
  margin: 25px auto;
  border: 5px solid #2989d8;
  border-radius: 10px;
  min-width: 650px; }
  #app .header {
    font: 50px 'Lobster';
    text-align: center;
    background-color: #1e5799;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#1e5799, #2989d8, false, false, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#1e5799, #2989d8, false, false, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#1e5799, #2989d8, false, false, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#1e5799, #2989d8, false, false, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#1e5799, #2989d8, false, false, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#1e5799, #2989d8, false, false, false, false, false, false, false, false));
    color: #fff;
    padding: 10px;
    text-shadow: 3px 2px #2989d8; }
  #app #connectionNotice {
    width: 100%;
    padding: 5px 0;
    background: #e3959d; }
    #app #connectionNotice .message {
      color: #b02f3c;
      text-shadow: 1px 1px #e8a9b0;
      font: 18px/35px "McLaren";
      text-align: center; }
      #app #connectionNotice .message img {
        vertical-align: middle;
        margin-right: 10px; }

article.topic {
  background: #fff; }
  article.topic header {
    text-align: center;
    background: #f0f0f0;
    font: 25px/100px "The Girl Next Door"; }
  article.topic .controls {
    zoom: 1;
    display: block;
    width: 82.91457%;
    margin: 0 auto;
    padding: 25px 0; }
    article.topic .controls:before, article.topic .controls:after {
      content: "";
      display: table; }
    article.topic .controls:after {
      clear: both; }
    article.topic .controls .meter {
      float: left;
      width: 57.28643%;
      margin-left: 6.03015%; }
      article.topic .controls .meter .topic_meter {
        width: 100%; }
    article.topic .controls .upvote {
      display: block;
      background-color: transparent;
      border: 0;
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      float: left;
      width: 14.57286%;
      text-align: center;
      height: 100px;
      font: 100px/140px "Archivo Black";
      text-align: center; }
      article.topic .controls .upvote a {
        display: block;
        width: 64px;
        height: 64px;
        background: url("/images/arrow.up.png") no-repeat center center;
        border-radius: 10px;
        border-width: 2px;
        border-style: solid;
        margin: 0 auto;
        vertical-align: middle;
        background-color: #c7db70;
        border-color: #b7d147; }
    article.topic .controls .downvote {
      display: block;
      background-color: transparent;
      border: 0;
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      float: right;
      width: 14.57286%;
      text-align: center;
      height: 100px;
      font: 100px/140px "Archivo Black";
      text-align: center; }
      article.topic .controls .downvote a {
        display: block;
        width: 64px;
        height: 64px;
        background: url("/images/arrow.down.png") no-repeat center center;
        border-radius: 10px;
        border-width: 2px;
        border-style: solid;
        margin: 0 auto;
        vertical-align: middle;
        background-color: #d86d78;
        border-color: #cd4553; }
